# Environment variables
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
haddixscript

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below if you're using dep)
# vendor/

# Go workspace file
go.work

# macOS
.DS_Store

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Node.js dependencies
lambda_scraper/node_modules/